<!DOCType html>
<html>
  <head>
    <title>{{ title || PianobarControl }}</title>
    <link type="text/css" rel="stylesheet" href="https://assets2.github.com/stylesheets/bundle_common.css" media="screen" />
  </head>
  <body>
    {{ content }}
  </body>
</html>
